#top {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    background-image: url(../img/earth.png);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: right;
    background-size: 500px 500px;
}

@media only screen and (max-width: 600px) {
    top {
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 80px;
    }
}


@media only screen and (max-width: 1000px) {
    top {
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 100px;
        background-image: url(../img/start.png);
        background-repeat: no-repeat;
        background-attachment: local;
        background-position: right;
    }
}

#clogo {
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {
    #clogo {
        margin-top: 30px;
    }

    #clogo img {
        height: 50px;
    }
}
